<mat-toolbar color="primary" style="display: flex">
  <mat-toolbar-row>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <ul>
      <li>
        <a href="">Inicio</a>
      </li>
      <li>
        <a href="">Noticias</a>
      </li>
      <li>
        <a href="">Blogs</a>
      </li>
      <li>
        <a href="">Contacto</a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
