<mat-toolbar color="primary" style="display: flex">
  <mat-toolbar-row>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Se crea una unsorted list (ul) y se le pasan las rutas como propiedad en el router link -->
    <ul>
      <li>
        <a [routerLink]="'../home'" routerLinkActive="active">Inicio</a>
      </li>
      <li>
        <a [routerLink]="'../login'" routerLinkActive="active">Noticias</a>
      </li>
      <li>
        <a [routerLink]="'../login'" routerLinkActive="active">Blogs</a>
      </li>
      <li>
        <a [routerLink]="'../login'" routerLinkActive="active">Contacto</a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="4" rowHeight="100px">

  <!-- Muestro las grillas del componente de angular material -->
  @for (tile of tiles; track tile) {
    <mat-grid-tile
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">{{tile.text}}</mat-grid-tile>
  }
</mat-grid-list>
